{% extends 'monapplication/base.html' %}
{%load static%}
{%block custom-css  %}
<link rel="stylesheet" href="{% static 'monapplication/ss.css' %}">
{% endblock %}
{% block content %}

    <div class="about-section">
        <h1>À Propos de Nous</h1>
        <p>Nous sommes une organisation dédiée à l'adoption d'animaux. Notre mission est de trouver un foyer aimant à tous les animaux dans le besoin.</p>
        <p>Nous croyons que chaque animal mérite une seconde chance et nous travaillons sans relâche pour faire de cette croyance une réalité.</p>
    </div>
{% endblock content %}
