<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annonces</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mesannonces.css' %}">
   <link rel="icon" type="image/png" href="./appartment.png" >
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
<Header class="head">
<img class="logo" src="{% static 'images/LOGO 2.png'%}" >


 </Header> 
<div class="annonces">
 
  <div class="card" >
    <img src= "{% static 'images/dog.jpg'%}"    class="card-img-top" >
    <div class="card-body">
      <h1>Appartement</h1>
      <h2>a louer</h2>
      <h3 class="card-title">casablanca</h3>
      <h4 class="card-title">prix:200000dh</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Adopter</a> 
    </div>
  </div>
  
  <div class="card">
    <img src=  "{% static 'images/dog.jpg'%}"    class="card-img-top" >
    <div class="card-body">
      <h1>Villa</h1>
      <h2>a Vendre</h2>
      <h3 class="card-title">casablanca</h3>
      <h4 class="card-title">prix:200000dh</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Adopter</a> 
    </div>
  </div>
  
  <div class="card" >
    <img src=  "{% static 'images/dog.jpg'%}"    class="card-img-top" >
    <div class="card-body">
      <h1>Appartement</h1>
      <h2>a louer</h2>
      <h3 class="card-title">casablanca</h3>
      <h4 class="card-title">prix:200000dh</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Adopter</a> 
    </div>
  </div>
  
  <div class="card" >
    <img src=  "{% static 'images/dog.jpg'%}" 
   class="card-img-top" >
    <div class="card-body">
      <h1>Studio</h1>
      <h2>a Vendre</h2>
      <h3 class="card-title">casablanca</h3>
      <h4 class="card-title">prix:200000dh</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Adopter</a> 
    </div>
  </div>
  
  <div class="card" >
    <img src=  "{% static 'images/dog.jpg'%}"  class="card-img-top" >
    <div class="card-body">
      <h1>Appartement</h1>
      <h2>a louer</h2>
      <h3 class="card-title">casablanca</h3>
      <h4 class="card-title">prix:200000dh</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Adopter</a> 
    </div>
  </div>
  
     

</div>

<script>
    let currentTitle = document.title;
window.addEventListener("blur", () => {
    document.title = "ADOPTE MOI 🐕‍🦺🐶";
});
window.addEventListener("focus", () => {
    document.title = currentTitle;
});
</script>
</body>
</html>