<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
          <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {%load static%}
       

        <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
        </head>
      
        <body>
          <input type="checkbox" id="active">
          <label for="active" class="menu-btn"><span></span></label>
          <label for="active" class="close"></label>
          <div class="wrapper">
            <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#"> posts</a></li>


      <li><a href="#"> account</a></li>
      <li><a href="#">favorite</a></li>
      <li><a href="{% url 'deconnexion' %}">logout</a></li>
      </ul>
      </div>
      <div class="content">
            <div class="title">
       welcome to Pet Paradise</div>
      <p>
      for pet lovers  
      </p>
      <h2>Bienvenue sur la page d'accueil</h2>
      <p>Vous êtes connecté en tant que {{ user.username }}.</p>
      <a href="{% url 'deconnexion' %}">Déconnexion</a>
      </div>
      </body>
      
</html>