.annonces{

  box-sizing: border-box;
 display: flex;
 flex-wrap: wrap;
  padding: 2%;
  
  width: 1367px;
 
  background-color: rgb(17, 19, 19);

}
.card{
  width: 30rem;
 box-sizing: border-box;
  margin-left: 2%;
  margin: 1%;
}
.logo{
 margin-top: 1%;
  margin-left: 2%;
  
  width: 7%;
  
}
.btn-success{
   float: right;
  margin-top: 2%;
   margin-right: 2%;
}
.head{
  height: 100px;
  background-color: rgb(255, 255, 255);
}